/*
 *Sharpnote logo Color Scheme: rgb(67, 177, 199)
 *Ultima Color Scheme hex: rgb(67, 177, 199)
 */
 
.side-navi ul li.current a {
	-webkit-box-shadow: 0 0 0 2px rgb(67, 177, 199);
	-moz-box-shadow: 0 0 0 2px rgb(67, 177, 199);
	box-shadow: 0 0 0 2px rgb(67, 177, 199);
}
.jumbotron {
  background-color: rgb(67, 177, 199);
}
.gallery li.gall-expanded > a::after {
	border-bottom-color: rgb(67, 177, 199);
}
.gall-expander {
	background: rgb(67, 177, 199);
}
.pricing-plan.highlited .body {
	background-color: rgb(67, 177, 199);
}
.blob {
	background-color: rgb(67, 177, 199);
}
.page-block.color {
	background-color: rgb(67, 177, 199);
}
.social-networks a:hover {
	color: rgb(67, 177, 199);
}
.footer {
	background-color: rgb(67, 177, 199);
}
.cs-page header {
	background-color: rgb(67, 177, 199);
}
.cs-page .footer {
	background-color: rgb(67, 177, 199);
}
.coming-soon header {
	background-color: rgb(67, 177, 199);
}
.middle-block {
	background-color: rgb(67, 177, 199);
}
.stiky-header {
	border-bottom-color: rgb(67, 177, 199);
}
.main-navi ul li:hover a {
	color: rgb(67, 177, 199);
}
.main-navi ul li.active a {
	color: rgb(67, 177, 199);
	border-top-color: rgb(67, 177, 199);
}

@media screen and (max-width: 991px) {
	.main-navi.open { 
	border-bottom-color: rgb(67, 177, 199);
	}
	.main-navi ul li a:hover {
		color: rgb(67, 177, 199);
	}
	.main-navi ul li.active a {
		color: rgb(67, 177, 199);
		border-left-color: rgb(67, 177, 199);
	}
}